@media all and (max-width: 1000px) {

  .subjects-filter {
    float: none;
    width: auto;
  }

  .subjects-filter .subjects {
    column-count: 5;
    column-gap: 5px;
  }

  .subjects-filter label {
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    page-break-inside: avoid;
  }

  .subjects-filter form {
    width: 150px;
  }

  .search-subjects {
    margin-top: 0;
    margin-left: 15px;
  }

  .main {
    margin-left: 0;
  }

}