@media all and (max-width: 1000px) {

  .sidebar {
    float: none;
    width: auto;
  }

  #map {
    float: left;
    width: 210px;
    margin-bottom: 20px;
  }

  .subjects-filter {
    margin-left: 230px;
    margin-bottom: 20px;
  }

  .subjects-filter .subjects {
    column-count: 4;
    column-gap: 4px;
  }

  .subjects-filter label {
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    page-break-inside: avoid;
  }

  .subjects-filter form {
    width: 150px;
  }

  .search-subjects {
    margin-top: 0;
    margin-left: 15px;
  }

  .main {
    margin-left: 0;
  }

  td.name {
    padding-left: 24px;
  }

  .attributes {
    margin-right: 7px;
  }

}