
.blue { border-color: #2d99e5 !important; }
.blue.focus .a-a,
.blue .a-a { background-color: #2d99e5; }
.blue.focus .a-c,
.blue .a-c { background-color: #96ccf2; }

.green { border-color: #09b93f !important; }
.green.focus .a-a,
.green .a-a { background-color: #09b93f; }
.green.focus .a-c,
.green .a-c { background-color: #84dc9f; }

.yellow { border-color: #e9c900 !important; }
.yellow.focus .a-a,
.yellow .a-a { background-color: #e9c900; }
.yellow.focus .a-c,
.yellow .a-c { background-color: #f4e45f; }

.orange { border-color: #c76b19 !important; }
.orange.focus .a-a,
.orange .a-a { background-color: #c76b19; }
.orange.focus .a-c,
.orange .a-c { background-color: #e3b58c; }

.violet { border-color: #8f4bdd !important; }
.violet.focus .a-a,
.violet .a-a { background-color: #8f4bdd; }
.violet.focus .a-c,
.violet .a-c { background-color: #c7a5ee; }

.brown { border-color: #8c564b !important; }
.brown.focus .a-a,
.brown .a-a { background-color: #8c564b; }
.brown.focus .a-c,
.brown .a-c { background-color: #c49c94; }
