<% colors.forEach(function(color) { %>
.<%= color.name %> { border-color: <%= color.dark %> !important; }
.<%= color.name %>.focus .a-a,
.<%= color.name %> .a-a { background-color: <%= color.dark %>; }
.<%= color.name %>.focus .a-c,
.<%= color.name %> .a-c { background-color: <%= color.light %>; }
.<%= color.name %>.suppressed em,
.<%= color.name %>.suppressed.focus em,
.<%= color.name %>.no-entries.focus em { color: <%= color.dark %>; }
<% }); %>