<div class="marker" style="<% if (data.better) { print("right") } else { print("left") } %>: <%= data.marker %>"><%= data.score %></div>
<div class="area" style="left: <%= data.left %>; width: <%= data.width %>"></div>