<div class="bar <%= data.classed %>" style="left: <%= data.left %>; width: <%= data.width %>">
  <span class="grade <% if (data.grade === 'C') print("grade-"+data.classed) %>">
    <%= data.grade %>
  </span>
</div>