<td class="name"><%= data.name %></td>
<td colspan="6" class="loading"></td>
<td class="distance"></td>
<td class="compare-col">
  <button class="add-compare">Add</button>
  <button class="remove-compare">Remove</button>
</td>