<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="Find and compare A-level schools">
  <meta name="viewport" content="width=device-width">

  <title>A-level schools</title>

  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900">
  <link rel="stylesheet" href="/build/app.css">
</head>

<body>

  <header>
    <div class="inner">
      <h1><a href="/">A-level schools</a></h1>
      <p class="subtitle">Find and compare schools in your area.</p>
      <form id="search" class="search-form" method="get" action="/">
        <button type="submit" class="find-schools">Find schools</button>
        <div class="wrapper">
          <input type="search" class="search-input" name="q" placeholder="Postcode or school name">
          <button class="use-location">Use my location</button>
        </div>
        <section class="type-filter">
          <h2>Show</h2>
          <label><input type="checkbox" class="filter" data-filter="independent" checked> Independent schools</label>
          <label><input type="checkbox" class="filter" data-filter="state-funded" checked> State-funded schools</label>
          <!-- <label><input type="checkbox" class="filter" data-filter="special" checked>
            Special
            <span class="help tooltip">
              ?<p class="message wide">Schools for students with special needs.</p>
            </span>
          </label> -->
          <label class="separated"><input type="checkbox" class="filter" data-filter="single-sex"> Exclude single-sex</label>
        </section>
      </form>
    </div>
  </header>

  <div class="inner">
    <section class="sidebar">
      <div id="map"></div>
      <section class="subjects-filter">
        <h2>
          Subjects
          <form>
            <input class="search-subjects" type="search" placeholder="Find a subject">
          </form>
        </h2>
        <div class="subjects"></div>
      </section>
    </section>

    <section class="main">
      <section class="schools">
        <table>
          <thead>
            <tr>
              <th style="width: 20%" class="first sortable" data-sort="name" data-order="asc">School name</th>
              <th style="width: 35%" class="sortable" data-sort="performance">Grades achieved</th>
              <th class="sortable" data-sort="total-a2">Total A2 students</th>
              <th class="sortable" data-sort="total-subjects">Total subjects</th>
              <th style="width: 15%" class="sortable" data-sort="aps-entry">Average grade <br>(all subjects)</th>
              <th class="sortable" data-sort="supertype" data-order="asc">Type</th>
              <th class="as-distance sortable" data-sort="distance" data-order="asc">Distance <small>in miles</small></th>
              <th>Compare</th>
            </tr>
          </thead>
          <tbody class="guide">
            <tr>
              <td class="g-name">
                <h3>Table guide</h3>
              </td>
              <td class="g-performance">
                <div class="subject">
                  <p class="explanation" style="bottom: 125%">Number of students who achieved</p>
                  <div class="a-c-label">A*-C</div>
                  <div class="a-a-label">A*-A</div>
                  <div class="no-result-label">U</div>
                  <div class="entries entries-label">
                    <p class="explanation">Total<br>students</p>
                  </div>
                </div>
              </td>
              <td></td>
              <td></td>
              <td class="aps-entry-mean national-avg"><div>National average</div></td>
              <td></td>
              <td class="as-distance"></td>
              <td></td>
            </tr>
          </tbody>
          <tbody class="compare"></tbody>
          <tbody class="results"></tbody>
        </table>
      </section>
    </section>

    <footer class="clearfix">
      <p class="madeby">Made for students, by a <a href="http://gavrilov.co.uk">student</a>.</p>
      <p class="databy">
        Data obtained from the <a href="http://www.education.gov.uk/schools/performance/download_data.html">Department for Education</a>. 
      </p>
    </footer>
  </div>

  <script type="text/javascript">

    var YEAR = "<%= YEAR %>";

  </script>
  <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyDYBT1gflsqoqJwfuGuNWa6Wq1QGO_SAyw&country=uk&sensor=false" type="text/javascript"></script>
  <script src="/build/app.js" type="text/javascript"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-47905327-1', 'alevels.herokuapp.com');
    ga('send', 'pageview');
  </script>
</body>
</html>