<html>
<head>
  <meta charset="utf-8">
  <meta name="description" content="Find and compare A-level schools">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>A-level schools</title>

  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900">
  <link rel="stylesheet" href="/build/app.css">
</head>

<body>

  <header>
    <div class="inner">
      <h1><a href="/">Find and compare A-level schools</a></h1>
      <form id="search" class="search-form" method="get" action="/">
        <button type="submit" class="find-schools">Find schools</button>
        <div class="wrapper">
          <input type="search" class="search-input" name="q" placeholder="Postcode or school name">
          <button class="use-location">Use my location</button>
        </div>
        <section class="type-filter">
          <h2>Show</h2>
          <label><input type="checkbox" class="filter" data-filter="independent" checked> Independent</label>
          <label><input type="checkbox" class="filter" data-filter="state-funded" checked> State-funded</label>
          <label><input type="checkbox" class="filter" data-filter="special" checked>
            Special
            <span class="help tooltip">
              ?<p class="message wide">Schools for students with special needs.</p>
            </span>
          </label>
          <label class="separated"><input type="checkbox" class="filter" data-filter="single-sex"> Exclude single-sex</label>
        </section>
      </form>
    </div>
  </header>

  <div class="inner">
    <section class="subjects-filter">
      <h2>
        Subjects
        <span class="help tooltip">
          ?<div class="message wider">
            Number of schools displayed on the list that did the subject.
          </div>
        </span>
        <form>
          <input class="search-subjects" type="search" placeholder="Find a subject">
        </form>
      </h2>
      <div class="subjects"></div>
    </section>

    <section class="main">
      <section class="schools no-distance">
        <table>
          <thead>
            <tr>
              <th style="width: 20%" class="first sortable" data-sort="name" data-order="asc">School name</th>
              <th style="width: 35%" class="sortable" data-sort="performance">Grades achieved</th>
              <th class="sortable" data-sort="total-a2">Total A2 students</th>
              <th class="sortable" data-sort="total-subjects">Total subjects</th>
              <th style="width: 15%" class="sortable" data-sort="aps-entry">Average point score per entry</th>
              <th class="sortable" data-sort="supertype" data-order="asc">Type</th>
              <th class="as-distance sortable" data-sort="distance" data-order="asc">Distance <small>in miles</small></th>
              <th>Compare</th>
            </tr>
          </thead>
          <tbody class="guide">
            <tr>
              <td class="g-name">
                <h3>How to read<br>the table</h3>
              </td>
              <td class="g-performance">
                <span>Number of students who achieved</span>
                <div class="subject">
                  <div class="a-c-label">A*-C</div>
                  <div class="a-a-label">A*-A</div>
                  <div class="no-result-label">U<small>/No result</small></div>
                </div>
                <small>Results suppressed for subjects with less than 6 entries.</small>
              </td>
              <td></td>
              <td></td>
              <td class="aps-entry-mean">Point scores are calculated using...</td>
              <td></td>
              <td class="as-distance"></td>
              <td></td>
            </tr>
          </tbody>
          <tbody class="compare"></tbody>
          <tbody class="results"></tbody>
        </table>
      </section>
    </section>

    <footer class="clearfix">
      <p class="madeby">Made for students, by a <a href="http://gavrilov.co.uk">student</a>.</p>
      <p class="databy">
        Data obtained from the <a href="http://www.education.gov.uk/schools/performance/download_data.html">Department for Education</a>. <br>
        Project source code available on <a href="http://github.com/danielgavrilov/schools">Github</a>.</p>
    </footer>
  </div>

  <script type="text/javascript">

    // constants
    var YEAR = "<%= YEAR %>";

    // namespacing
    var app = window.app = app || {};
    app.get = {};
    app.models = {};
    app.views = {};
    app.routers = {};
    app.collections = {};
    app.constructors = {};
    app.utils = {};
    app.helpers = {};
    app.templates = {};
    app.preload = {};

  </script>

  <script src="/build/app.js" type="text/javascript"></script>

  <% if (ENV === 'production') { %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-47905327-1', 'alevels.herokuapp.com');
    ga('send', 'pageview');
  </script>
  <% } %>
</body>
</html>