<% if (colornames)   { %>app.preload.colornames   = <%= colornames %>; <% } %>
<% if (subjectnames) { %>app.preload.subjectnames = <%= subjectnames %>; <% } %>
<% if (schoolnames)  { %>app.preload.schoolnames  = <%= schoolnames %>; <% } %>
<% if (aps)          { %>app.preload.aps          = <%= aps %>; <% } %>